#lastfmthumbnail {
    position: relative;
    height: 50vh;
}

#lastfmthumbnailimg {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 50vh;
    max-width: 80vw;
    left: 50%;
    transform: translateX(-50%);
  }
.tiny {
    font-size: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.small {
    font-size: 75%;
    margin-block: 0em;
}
html {
    height: 100vh;
}
p {
    font-size: 150%;
}
img {
    opacity: 0;
    transition: opacity 5s;
}

@keyframes fade {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}