.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 5vh;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  color-scheme: dark;
}
body {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background: linear-gradient(-45deg, #8f0047, #006d8f);
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
a {
  color: #98e2ff;
}
/* Extracted from skeleton-dark from little link -> https://github.com/sethcottle/littlelink and modified. */